INSERT INTO `topstack`.`account` (`name`, `access_key`,
`secret_key`,
`tenant`,
`def_security_groups`, `def_key_name`, `emails`, `def_zone` ) VALUES
('{account-name}', '{username}',
'{password}',
'{tenant-id}',
'{default-security-group}', '{key-name}', 'buildbot@transcendcomputing.com', '{cloud-definition-name}');

insert into rds_security_group (dbsecurityGroupDescription, dbsecurityGroupName, port, transcendOnly, account_id)
select 'Default Security Group', 'default', 0, 0, account.id
from account where account.name = '{account-name}';
